:root{
  --background: #7CAE7A;
  --primary-text: #564592;
  --high-color: #A30B37;
  --low-color: #007EA7;
  --accent-one: #FC9E4F;

  background: darkgrey;
}

.weather-report-container{
  position: relative;
}

.controls{
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 30%;
  left: 3%;
  width: 6rem;

  .circle{
    background: var(--accent-one);
    margin: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px inset var(--primary-text);
    transition: 1s ease;
  }

  img{
    width: 24px;
    height: 24px;
  }

  .circle:hover{
    rotate: 180deg;
    background: #FC8F36;
    transition: 1s ease;
  }
}

.attributions{

  position: relative;
  text-align: center;
}

.App {
  color: var(--primary-text);
}

.waitingMessage{
  position: fixed;
  left: 25vw;
  top: 25vh;
  font-size: 2rem;
}

.current-weather{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 22% 63% ;

  width: 100vw;
  height: 85vh;

  .current-time{
    font-size: 3rem;
    font-weight: bold;
    grid-row: 3;
    grid-column: 2;
    text-align: right;
  }

  .current-temp{
    grid-row: 2;
    grid-column: 2;

    display: flex;
    flex-direction: column;

    :first-child{
      margin: 1rem 0 ;
    }

    p{
      margin: 0;
      position: relative;
      font-size: 5rem;
      font-weight: bold;
    }
  }
}

.weather-container{
  z-index: 1;
  position: relative;
  left: 12vw;
  bottom: 40vh;
  width: 85vw;
  height: 55vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seven-day-container{
  z-index: 0;
  position: relative;
  left: 12vw;
  bottom: 55vh;
  width: 85vw;
  height: 55vh;

  display: flex;
  flex-direction: row;
}


.row-one{
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .75s ease;

  .card-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4vh;

    .drop-button{
      font-weight: bold;
      color: white;
      position: relative;
      right: 10px;
      border-radius: 100px;
      background: grey;
      width: 22px;
      height: 22px;
      border: none;
      transition: .75s ease;
    }

    .drop-button:hover{
      transition: .75s ease;
      rotate: 180deg;
    }

  }

  .additional_info {
    margin: 2vw;
    width: 100%;
    transition-delay: .25s;
    transition: .25s ease-in;
  }
}

.row-two{
  background: var(--background);
  height: 27vh;
  width: 45.5%;

  display: grid;
  grid-template-rows: 15% 85%;
  grid-template-columns: 25% 25% 50% ;

  .card-top{
    grid-row: 1;
    grid-column: 1;

    position: relative;
    bottom: 40%;
    .drop-button{
      display: none;
    }
  }

  .weather-conditions{
    grid-row: 2;
    grid-column: 1;

    :first-child{
      width: 72px;
    }

    :last-child{
      margin: 0;
    }
  }

  .temperature-conditions{
    grid-row: 2;
    grid-column: 2;
  }

  .additional_info{
    grid-row: 2;
    grid-column: 3;
    width: 100%;

    p{
      margin: .5rem;
    }
  }
}

.card-layout{
  margin: .75vw;
  border: 2px solid dimgrey;
  box-shadow: 1px 1px 1px 1px black;

  .card-top {
    .time {
      font-weight: bold;
      font-size: 1.25rem;
      filter: drop-shadow(1px 1px gray);
    }
  }

  .weather-conditions{
    :first-child{
      width: 72px;
    }

    :last-child{
      margin: 0;
    }
  }

  .temperature-conditions{
    .temp{
      position: relative;
      color: #394738;
      font-size: 1.25rem;
      left: 25%;
    }

    .high-low-temp{
      margin-bottom: 2vh;

      .low-temp{
        margin-right: 1vw;
        color: var(--low-color)
      }
      .high-temp{
        margin-left: 1vw;
        color: var(--high-color)
      }
    }

    .feels-like{
      font-size: .75rem;
      color: #4B594A;

      :first-child{
        position: relative;
      }
      :last-child{
        position: relative;
        left: 25%;
      }
      p{
        margin: 0;
      }
    }
  }

  .hidden{
    visibility: hidden;
    opacity: 0;
  }

  .additional_info{
    p{
      margin: .5rem;
    }
  }
}


.weekly-layout{
  .taller{
    background: var(--accent-one);
    height: 57vh;
  }

  .shorter{
    background: var(--background);
    height: 35vh;
  }
}

.hourly-layout{
  .taller{
    background: var(--accent-one);
    height: 47vh;
  }

  .shorter{
    background: var(--background);
    height: 35vh;
  }
}
